#table {

    background-color:black;
    width: fit-content; /* Full-width */

  }

  th{
    background-color: rgb(90, 97, 2);
    padding: 15px; /* Add padding */
    margin : 15px;
  }

  td {
    background-color:YELLOW;
    padding: 15px; /* Add padding */
    margin : 10px;
  }
